<aside
  class="fixed left-0 top-0 w-64 min-h-screen bg-gradient-to-b from-[#071a36] to-[#0f2a56] text-white flex flex-col"
>
  <div class="h-16 flex items-center px-5 font-bold text-xl border-b border-white/10 flex-shrink-0">
    EmployeeHub
  </div>

  <nav class="flex-1 p-4 space-y-2">

    <a
      routerLink="/dashboard"
      class="block px-4 py-3 rounded-lg hover:bg-white/10"
    >
      Dashboard
    </a>

    <a
      routerLink="/employees"
      class="block px-4 py-3 rounded-lg hover:bg-white/10"
    >
      Employees
    </a>

    <a
      routerLink="/add-employee"
      class="block px-4 py-3 rounded-lg hover:bg-white/10"
    >
      Add Employee
    </a>

  </nav>
</aside>